.notification {
  border-radius: 7px;
  margin-bottom: 20px; // Reveal starts at the top of the bar
}

.header {
  padding: 0px 15px;
}

.app-name {
  font-size: 14px;
}

.summary {
  font-size: 14px;
  font-weight: 600;
}

.description {
  font-size: 14px;
}

.notification-content {
  padding: 0px 15px 15px;
}
