.notification {
  border-radius: 7px;
}

.header {
  padding: 0px 15px;
}

.app-name {
  font-size: 14px;
}

.summary {
  font-size: 14px;
  font-weight: 600;
}

.description {
  font-size: 14px;
}

.content {
  padding: 0px 15px;
}
